<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="demo.hs">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.OBSERVE_GRANT_REVOKE_PERMISSIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />
    <permission
        android:name="demo.hs.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="demo.hs.permission.MIPUSH_RECEIVE" />

    <!--适配Android R包可见性 开始-->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
    </queries>
    <!--适配Android R包可见性 结束-->


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="ss"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AnimationTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <!-- ############ DU广告  ############ -->
        <meta-data
            android:name="app_license"
            android:value="fb57f665cf852d52a9d61f2dadbb455e" />
        <service android:name=".download.DownLoadService" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6460577785255164~4525386640" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <meta-data
            android:name="demo.hs.glide.SimpleGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="b163a139" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cbd2d8d0cafb248c2000bf7" />

        <activity
            android:name=".ui.activity.SearchResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:exported="true"/>

        <activity
            android:name=".pay.googlepay.GooglePayActivity"
            android:theme="@style/one_px_activity"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.ReadSettingActivity"
            android:theme="@style/AnimationTheme"
            android:exported="true" />
        <!-- ############ 配个推置SDK核服务结束 ############ -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay" />


        <service android:name=".service.AppDownloadService" />

        <activity
            android:name=".splish.AdViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splish"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AuthorActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xingreaddny" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BookDeatailActivity"

            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.ReadActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/ReadTheme"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.LikeActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".browser.BrowserActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity android:name=".browser.TestActivity" />
        <activity
            android:name=".ui.activity.GoCommentActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.AllCommentActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.ChapterCommentActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".splish.BookClassSelectActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.About"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.DownloadList"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.DownloadListNew"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.FullScreenAdsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"/>

        <!-- Takking_Data -->

        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService"
            android:exported="true"> <!-- 用户质量评估Service可以配置在主进程或者单独进程 -->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RequestVipService"
            android:exported="true" />

        <meta-data
            android:name="TD_APP_ID"
            android:value="9642CDB83E4B460BA02EBCF333C8B29D" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- Takking_Data -->

        <activity
            android:name=".ui.activity.RankActivity"
            android:label="@string/title_activity_rank"
            android:theme="@style/AnimationTheme"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AnimationTheme"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activity.BoutiqueActivity"
            android:label="@string/title_activity_boutique"
            android:theme="@style/AnimationTheme"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activity.RecentReadActivity"
            android:label="@string/title_activity_recent_read"
            android:theme="@style/AnimationTheme"
            android:exported="true"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="demo.hs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="name,resource" />
        </provider>
        <!--        <provider-->
        <!--            android:name="androidx.startup.InitializationProvider"-->
        <!--            android:authorities="${applicationId}.androidx-startup"-->
        <!--            tools:node="remove" />-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.FaceBookShareActivity"
            android:exported="true"
            android:theme="@style/one_px_activity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider560123448575689"
            android:exported="true" />
        <!-- ############ facebook分享结束  ############ -->
        <activity android:name=".ui.activity.WanjieActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.JingPinActivity"
            android:exported="true"/>
        <activity
            android:name=".newoffline.web.BroActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <service
            android:name=".newoffline.OfflineService"
            android:exported="true" />

<!--        <activity-->
<!--            android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:exported="false"-->
<!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->

<!--        <activity-->
<!--            android:name="com.mintegral.msdk.interstitial.view.MTGInterstitialActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:screenOrientation="portrait" />-->
<!--        <activity-->
<!--            android:name="com.mintegral.msdk.shell.MTGActivity"-->
<!--            android:configChanges="keyboard|orientation"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/MintegralAppTheme"></activity>-->
<!--        <activity-->
<!--            android:name="com.mintegral.msdk.activity.MTGCommonActivity"-->
<!--            android:configChanges="keyboard|orientation"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>-->

<!--        <activity-->
<!--            android:name="com.mintegral.msdk.interactiveads.activity.InteractiveShowActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>-->
<!--        <activity android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity" />-->
<!--        <activity android:name="com.unity3d.services.ads.adunit.AdUnitActivity" />-->

<!--        <receiver-->
<!--            android:name="com.alphab.receiver.AlphabReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver android:name="com.mintegral.msdk.click.AppReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service android:name="com.mintegral.msdk.shell.MTGService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.mintegral.msdk.download.action" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <provider-->
<!--            android:name="com.mintegral.msdk.base.utils.MTGFileProvider"-->
<!--            android:authorities="${applicationId}.mtgFileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/mtg_provider_paths" />-->
<!--        </provider>-->


        <!-- [START firebase_service] -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_color"-->
        <!--android:resource="@color/black" />-->
        <!-- [END firebase_service] -->
    </application>
</manifest>